<!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
        <!-- Content Row -->
        <div class="row">

<!-- Color System -->
            <div class="row">
              <div class="col-lg-6 mb-4">
                <a href ="/admin/users">
                  <div class="card bg-primary text-white shadow">
                  <div class="card-body">
                    Users
                    <div class="text-white-50 small"></div>
                  </div>
                </div>
                </a>
              </div>
              <div class="col-lg-6 mb-4">
                <a href ="/admin/products">
                  <div class="card bg-primary text-white shadow">
                  <div class="card-body">
                    Products
                    <div class="text-white-50 small"></div>
                  </div>
                </div>
                </a>
              </div>
              <div class="col-lg-6 mb-4">
                <a href = "admin/category">
                <div class="card bg-info text-white shadow">
                  <div class="card-body">
                    Category
                  </div>
                </div>
                </a>
              </div>
              <div class="col-lg-6 mb-4">
                <a href="admin/profile">
                <div class="card bg-warning text-white shadow">
                  <div class="card-body">
                    Profile
                  </div>
                </div>
                </a>
              </div>
              <div class="col-lg-6 mb-4">
                <a href="admin/login">
                <div class="card bg-danger text-white shadow">
                  <div class="card-body">
                    Login
                  </div>
                </div>
              </div>
                </a>
            </div>
      </div>
      <!-- /.container-fluid -->